* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    line-height: 1.4;
}

html {
    box-sizing: border-box;
    background: #eee;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.site-wrap {
    max-width: 940px;
    margin: 40px auto;
    background: white;
    padding: 1rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);

    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: repeat(1fr 1fr);
    grid-gap: 1rem;
    grid-template-areas:
        "sectionhead sectionhead"
        "entry entry";
}

p {
    margin: 1rem 0;
}

nav {
    background: #007eb6;
    width: 100%;
    transition: all 0.5s;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
}

nav a.active {
    box-shadow: inset 0 0 0 2px white;
    border-radius: 6px;
}

nav a:not(.active):hover {
    box-shadow: inset 0 0 0 2px white;
    border-radius: 6px;
    background-color: #00aeef;
}

img {
    width: 100%;
}

li.logo {
    overflow: hidden;
}

li.logo img {
    width: 2.5rem;
    height: 2.5rem;
}

.entry {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-column-gap: 1rem;
    margin-bottom: 1rem;
    grid-area: "entry";
}

.entry a {
    color: #007eb6;
    text-decoration: none;
}

.entry h3 + p {
    margin-top: 0;
}

.section-head {
    font-family: Lobster;
    color: #007eb6;
    font-size: 2.5rem;
    text-transform: capitalize;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #007eb677;
    grid-area: sectionhead;
}

.loading {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 4em;
    color: #2a1ab877;
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: 3x;
}

.loading div {
    width: 90px;
    height: 90px;
    overflow: hidden;
    /* background: url("../img/spinner.svg") 50% 50% no-repeat; */
    background-size: cover;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
